# Exercícios Módulo 5. Bases de dados com SQLite (Soluções)

Considerações a ter em conta:

* Guardar este documento com o seguinte formato para entrega: M5_04_nome_apelido1_apelido2
* Fazer os exercícios com as ferramentas vistas nas sessões. 
* Comentar o código
* Utilizar nomes de variáveis apropriados, se vai guardar uma nota, chamar a essa variável nota, não n ou x

**1) Praticar um pouco com SQLite:**

* Criar uma base de dados que se chame biblioteca
* Criar as seguintes tabelas (deverá colocar os tipos dos atributos com lógica, investigar quais há em SQLite para o poder fazer): 
 * autor(bi, nome, apelidos, estarVivo)
     * em bi pode colocar um número aleatório
 * livro(isbn, título, editorial, ano_escrito)  
     * isnb = International Standard Book Number - Pode colocar um número aleatório
 * utilizador(bi, nome, apelidos, numEmpréstimos)
     * em bi pode colocar um número aleatório
* Inserir pelo menos 3 registos em cada uma das tabelas 
 * Em autor, alguns vivos e outros mortos
 * Em livro, alguns com ano de escritura anterior a 1900 e outros depois 
 * Em utilizador, alguns com mais de 10 empréstimos e outros com menos
* Comprovar que tudo está correto com **DB Browser (SQLite)** 
* Fazer as seguintes consultas:
 * Listar a todos os autores 
 * Listar todos os livros 
 * Listar todos os utilizadores
 * Listar todos os autores que estejam vivos (CLAUSULA WHERE)
 * Listar todos os livros que tenham sido escritos posteriormente a 1900
 * Listar todos os utilizadores que se tenham levado mais de 10 livros e filtrar pelo nome

In [4]:
import sqlite3

con = sqlite3.connect("biblioteca.db")
cursor = con.cursor()

cursor.execute('CREATE table autor(bi INTEGER, nome VARCHAR(100), apelidos VARCHAR(100), estarVivo BOOLEAN)')
cursor.execute('CREATE table livro(isbn INTEGER, titulo VARCHAR(100), editorial VARCHAR(100), ano_escrito INTEGER)')
cursor.execute('CREATE table utilizador(bi INTEGER, nome VARCHAR(100), apelidos VARCHAR(100), numEmprestimos INTEGER)')

cursor.execute("INSERT INTO autor VALUES(27, 'William', 'Shakespeare', False)")
cursor.execute("INSERT INTO autor VALUES(09, 'George', 'Orwell', False)")
cursor.execute("INSERT INTO autor VALUES(21, 'Dan', 'Brown', True)")

cursor.execute("INSERT INTO livro VALUES(123456, 'Diary of a Wimpy Kid', 'Amulet Books', 2007)")
cursor.execute("INSERT INTO livro VALUES(789012, 'Romeo and Juliet', 'Sapphire Books', 1597)")
cursor.execute("INSERT INTO livro VALUES(135790, 'Wuthering Heights', 'Cambridge University Press', 1847)")

cursor.execute("INSERT INTO utilizador VALUES(72, 'John', 'Smith', 12)")
cursor.execute("INSERT INTO utilizador VALUES(90, 'Jane', 'Doe', 7)")
cursor.execute("INSERT INTO utilizador VALUES(12, 'Jim', 'Locke', 13)")

cursor.execute("SELECT * FROM utilizador")
usuarios = cursor.fetchall()
for user in usuarios:
    print("Usuarios:",user)
print("\n")

cursor.execute("SELECT * FROM livro")
livros = cursor.fetchall()
for livro in livros:
    print("Livros:",livro)
print("\n")

cursor.execute("SELECT * FROM autor")
autores = cursor.fetchall()
for autor in autores:
    print("Autores:",autor)
print("\n")

cursor.execute("SELECT * FROM autor WHERE estarVivo = True ")
autorVivo = cursor.fetchall()
for i in autorVivo:
    print ("Autores Vivos: ",i)
    
cursor.execute("SELECT * FROM livro WHERE ano_escrito < 1900")
livros_antigos = cursor.fetchall()
for i in livros_antigos:
    print("Livros pós 1900: ",i)
    
livros_emprestados = []
cursor.execute("SELECT nome, apelidos FROM utilizador WHERE numEmprestimos > 10")
leitor_wh_livro = cursor.fetchall()
leitor_wh_livro.sort()
for pessoa in leitor_wh_livro:
    livros_emprestados.append(pessoa)
for livro in livros_emprestados:
    print(f"Utilizador com > 10 livros: {livro}")
    
con.commit()
con.close()

Usuarios: (72, 'John', 'Smith', 12)
Usuarios: (90, 'Jane', 'Doe', 7)
Usuarios: (12, 'Jim', 'Locke', 13)


Livros: (123456, 'Diary of a Wimpy Kid', 'Amulet Books', 2007)
Livros: (789012, 'Romeo and Juliet', 'Sapphire Books', 1597)
Livros: (135790, 'Wuthering Heights', 'Cambridge University Press', 1847)


Autores: (27, 'William', 'Shakespeare', 0)
Autores: (9, 'George', 'Orwell', 0)
Autores: (21, 'Dan', 'Brown', 1)


Autores Vivos:  (21, 'Dan', 'Brown', 1)
Livros pós 1900:  (789012, 'Romeo and Juliet', 'Sapphire Books', 1597)
Livros pós 1900:  (135790, 'Wuthering Heights', 'Cambridge University Press', 1847)
Utilizador com > 10 livros: ('Jim', 'Locke')
Utilizador com > 10 livros: ('John', 'Smith')